*,
*::before,
*::after {
  box-sizing: border-box;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffe761;
}

.hero-img-container {
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.hero-img-container img {
  width: 100%;
  object-fit: cover;
}

.hero-text-container p {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3rem;
  font-size: 4em;
  text-align: center;
  line-height: 2.3rem;
  word-spacing: 100vw;
  text-shadow: 1px 1px 15px rgb(131, 65, 65);
}

.imgContainer {
  height: 250px;
}

.navbar {
  background-color: #ffb6f2;
  letter-spacing: 0.2rem;
}

.navbar-brand {
  color: #86a789;
}

.navbar-brand:hover {
  color: #86a789;
  cursor: default;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #ffe761;
}

.card {
  border: 1px solid #ffffff;
}

.card-body {
  background-color: #ffffff;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pName {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #ffb6f2;
}

.pBrand {
  margin-top: 2.5rem;
  font-size: 1rem;
  color: #ffe761;
  text-align: right;
  letter-spacing: 0.2rem;
  line-height: 1.2rem;
}

.pDescription {
  color: rgb(181, 181, 181);
  flex-grow: 1;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.buttonDetails {
  border: none;
  background-color: #ffb6f2;
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.buttonDetails:hover {
  background-color: #abc4e2;
}

label {
  font-weight: bold;
  color: #eb90da;
}

#submitBtn {
  border: none;
  background-color: #ffb6f2;
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

#submitBtn:hover {
  background-color: #eb90da;
}

#resetBtn {
  border: none;
  background-color: #abc4e2;
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#resetBtn:hover {
  background-color: #7fa3d0;
}

#pageMode p {
  color: #abc4e2;
  font-size: 1.5rem;
}

#deleteBtn {
  border: none;
  background-color: #e1526d;
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#deleteBtn:hover {
  background-color: #b83951;
}

#detailsImage {
  max-height: 600px;
  overflow: hidden;
}

#detailsImage img {
  width: 100%;
  object-fit: cover;
}
